services:
  db:
    image: postgres:16
    container_name: pret-db
    environment:
      POSTGRES_USER: pret
      POSTGRES_PASSWORD: pret_pass
      POSTGRES_DB: pret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pret -d pret"]
      interval: 5s
      timeout: 5s
      retries: 10


  grafana:
    image: grafana/grafana:latest
    container_name: pret-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

volumes:
  pgdata:
  grafana_data:

